<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224826473956-jnnfaj33e2ac6ngho9re3ou8b66q93v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224826473956-jnnfaj33e2ac6ngho9re3ou8b66q93v8</string>
	<key>API_KEY</key>
	<string>AIzaSyBNC4d67lzimGXtg8gmltkRKPFtTQz5X7c</string>
	<key>GCM_SENDER_ID</key>
	<string>224826473956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.client</string>
	<key>PROJECT_ID</key>
	<string>calorie-logging-app</string>
	<key>STORAGE_BUCKET</key>
	<string>calorie-logging-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224826473956:ios:dc3580e709f5555de81bf1</string>
</dict>
</plist>